/* Whole Doc */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

html, body {
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

p {
  margin: 1.5rem 0;
  padding: 0 2.5rem;
  font-size: 1.25rem;
}

h1 {
  text-align: center;
}

/*make images darker*/
.darker {
  filter: brightness(73%)
}


/* h1{
  font-size: 3.5rem;
  font-weight: bold;
} */

/* h2{
  font-size: 2.5rem;
  font-weight: bold;
}*/

h3{
  font-size: 1.5em;
  font-weight: bold;
} 


.centered {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body-text {
  /* padding: 2rem; */
  text-align: center;
}
/* End of Whole Doc */

/* About Us page*/
#pamCard{
  color: white;
  border-radius: 1rem;
  background-color: #1b1b3a;
  padding: 2rem
}

#pamPic{
  border-radius: 0.75rem;
  height: 375px;
  width: 100ox;
  margin-left: 1.5em;
}

.pamInfo{
  font-size: 1.15em;
  padding-left: 0;
  padding-right: 2em;
}

#pamSocial {
  display: flex;
  justify-content: flex-end;
}

/* end of about us page */


/* get involved page */

footer li {
  font-size:1.25em;
  list-style-type: none;
}

footer li a {
  color: darkgray;
}

#whatIf-div {
  background-color: #1b1b3a;
  color: white;
  width: 90%;
  margin: auto;
}

.white-text {
  color: white
}

.row-image {
  width: 100%;
  height: 65%;
} 

.div-p {
  font-size: 1.6rem;
}

#div-container {
  width: 90%;
  margin: auto;
}

.d-text {
  font-size: 1.25rem;
}

/* end og get inovlved page */



#NavB{
  position: absolute;
  top: 1rem;
  z-index: 2;
  width: 97%;
  border-radius: .5rem;
  margin-top: 1.5%
 /* border-radius: 1rem; */
}

#navDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 6em;
  height: auto;
  margin-top: -3.3rem;
  /* height: 85%; what DC added in */
  position: absolute;
}

#basic-navbar {
  padding-left: 10%;
  font-size: 1.5rem;

}

.nav-link:hover {
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: none;
}

/* End of Navbar */
/* Homepage */
p {
  margin: 1.5rem 0;
  padding: 0 2.5rem;
  font-size: 1.5rem;
}

#carousel {
  height: 550px;
}

.carousel-title{
  font-size: 3.5rem;
  font-weight: 750;
  letter-spacing: 0.05em;
  padding: 2rem;
  color: white;
  text-align: center;
}

.carousel-centered {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 414px) {
  
  img.c-image {
    height: 350px;
  }

  #carousel {
    height: 350px;
  }
  
  p.carousel-text {
    font-size: 1.25rem;
  }

  .carousel-centered {
    margin-top: 10%;
  }

  .carousel-title {
    font-size: 2rem;
  }
  
  p {
     font-size: 1.2rem;
     padding: 0;
   }

   h3{
    font-size: 1.2em;
    font-weight: bold;
  } 

  #whatIf-div {
    padding: 0 1rem
  }

  #basic-navbar {
    padding-top: 10%;
  }

  #logo {
    margin-top: -2.5rem;
    max-width: 4em;
  }

  }

  @media screen and (min-width: 768px) {
    p {
       font-size: 1.75rem;
     }

     #contact-div {
      width: 90%;
      padding-left: 5%;
    }

    #basic-navbar-nav {
      padding-top: 3%;
    }

    /* .body-text {
      padding: 2rem;
      text-align: center;
    } */

    }

/* .carousel-subtext{
  font-size: 2rem;
  color: white;
} */

.carousel-quote{
  font-size: 4rem;
  color: white;
  margin-top: 50%;
}

.carousel-text {
  font-size: 2rem;
  color: white;
}

.carousel-img {
  padding: 2rem 3rem
}

.yellowBackground {
  /* background-color: #FCCA46; */
  background-color: #F3A712;
}

#contact-form {
  width: 90%;
  padding-left: 5%;
}


/* Resources */

.resourcesTitle {
  text-align: center;
  color: #574f70;
  margin-bottom: 2rem;
}

.resourcesMain {
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: center;
  margin-top: 9em;
  padding: 0 0 0 0;
}

.resourcesCardDeck{
   /* border: 1px solid blue; */
   width: 90%;
   margin-bottom: 5rem !important;
}

.cardImg {
  width: 100%;
  height: 16vw;
  object-fit: cover;
  border-radius: 20px;
}

.resourcesCard {
  border: none;
}

.phoneNumber{
  /* border: 1px solid blue; */
  width: 90%;
  margin-top: -1.5rem ;
  /* border: 1px solid red; */
  font-size: 20px;
}

.phone{
  border: none;
}

.hovereffect img {
  display: block;
  position: relative;
  /* -webkit-transition: all 0.4s; */
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: brightness(0.7);
}

/* End of Resources */


