/* Whole Doc */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

html, body {
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

p {
  margin: 1.5rem 0;
  padding: 0 2.5rem;
  font-size: 1.25rem;
}

h2 {
  text-align: center;
}

/*make images darker*/
.darker {
  filter: brightness(73%)
}


h3{
  font-size: 1.5em;
  font-weight: bold;
} 

/* img {
  overflow: hidden;
  /* max-width: inherit; 
  width: auto;
} */


.centered {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body-text {
  /* padding: 2rem; */
  text-align: center;
}
/* End of Whole Doc */

/* About Us page*/
#pamCard{
  color: white;
  border-radius: 1rem;
  background-color: #1b1b3a;
  padding: 2rem
}

#pamPic{
  border-radius: 0.75rem;
  height: 375px;
  width: 100ox;
  margin-left: 1.5em;
}

.pamInfo{
  font-size: 1.15em;
  padding-left: 0;
  padding-right: 2em;
}

#pamSocial {
  display: flex;
  justify-content: flex-end;
}


/* end of about us page */


/* get involved page */

footer li {
  font-size:1.25em;
  list-style-type: none;
}

footer li a {
  color: darkgray;
}

#whatIf-div {
  background-color: #1b1b3a;
  color: white;
  width: 90%;
  margin: auto;
}

.white-text {
  color: white
}

.row-image {
  width: 100%;
  height: 65%;
} 

/* .div-p {
  font-size: 1.6rem;
} */

blockquote footer {
  text-align: right;
  padding-right: 2%;
}

#div-container {
  width: 90%;
  margin: auto;
}

.d-text {
  font-size: 1.25rem;
}

/* end og get inovlved page */



#NavB{
  position: absolute;
  top: 1rem;
  z-index: 2;
  width: 97%;
  border-radius: .5rem;
  margin-top: 1.5%
 /* border-radius: 1rem; */
}

#navDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  max-width: 6em;
  height: auto;
  margin-top: -3.3rem;
  /* height: 85%; what DC added in */
  position: absolute;
}

#basic-navbar {
  padding-left: 10%;
  font-size: 1.5rem;

}

.nav-link:hover {
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  text-decoration: none;
}

/* End of Navbar */
/* Homepage */
p {
  /* margin: 1.5rem 0; */
  padding: 0 4.5rem 0 4.5rem;
  font-size: 1.5rem;
}

#carousel {
  height: 550px;
}

.carousel-title{
  font-size: 3.5rem;
  font-weight: 750;
  letter-spacing: 0.05em;
  padding: 2rem;
  color: white;
  text-align: center;
}

.carousel-centered {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 414px) {
  
  img.c-image {
    height: 350px;
  }

  #g-image-text {
    margin-top: 5%;
    font-size: 1rem;
  }

  #carousel {
    height: 350px;
  }
  
  p.carousel-text {
    font-size: 1.25rem;
  }

  .carousel-centered {
    margin-top: 10%;
  }

  .carousel-title {
    font-size: 2rem;
  }
  
  p {
     font-size: 1.2rem;
     padding: 0;
   }

   h3{
    font-size: 1.2em;
    font-weight: bold;
  } 

  #whatIf-div {
    padding: 0 1rem
  }

  #basic-navbar {
    padding-top: 10%;
  }

  #logo {
    margin-top: -2.5rem;
    max-width: 4em;
  }

  a.phoneNumber {
    font-size: 1.15rem;
    width: 65%
  }

  div.resourcesCard {
    width: 65%;
    margin: auto auto
  }

  img.card-img-top.cardImg {
    height: 150px;
  }
  /*About Us*/
  div.card-img-overlay {
    margin: -16% 0 0 -6%;
    padding: 0 0;
    width: 150%;
  }

  div.card-img-overlay p {
    margin: 0 0  0 -12%;
    padding: 0 10px;
    width: 90%;
    font-weight: 700;
  }

  img.card-img {
    height: 350px
  }

  div.body-text p {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  div.col-lg-3, div.col-lg-4 {
    display: flex;
    justify-content: center;
  }

  p.pamInfo, p.div-p {
    padding: 0;
    font-size: 1.2rem
  }

  h2.body-text, h3 {
    font-size: 1.5rem
  }

  div.text-left.col {
    padding: 1px;
  }

  div.yellowBackground {
    width: 120%;
    margin-left: -10%
  }

  #pamCard {
    width: 90%;
  }
  /*get involved*/
  #g-image-text p {
    text-align: right;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
   }

   div.card-img-overlay {
     margin: -16% 0 0 -8.5%
   }

   p.card-text {
     font-size: 1.25rem;
   }

  }

  @media screen and (max-width: 768px) {
    p {
       font-size: 1.75rem;
       text-align: center;
     }

     div.col-lg-8 {
      text-align: center;
      margin-top: 1rem;
      font-size: 1.5rem;
    }
  }

/* navbar hamburger move down*/
@media screen and (max-width: 991px) {
    a.nav-link:first-child {
      padding-top: 6%;
    }

}


  @media screen and (min-width: 768px) {


     #contact-div {
      width: 90%;
      padding-left: 5%;
    }

    a.phoneNumber {
      font-size: 1.5rem;
      width: 45%
    }
    /*About Us*/
    div.card-img-overlay p {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      font-weight: 700;
    }

    div.col-lg-3, div.col-lg-4 {
      display: flex;
      justify-content: center;
    }

   p.pamInfo{
     padding: 0;
   }
   /*get involved*/
   #g-image-text, #g-image-text p {
     font-size: 1.55rem;
   }

   #g-image-text p {
   margin-top: 1rem;
  }

    }

/* .carousel-subtext{
  font-size: 2rem;
  color: white;
} */

.carousel-quote{
  font-size: 4rem;
  color: white;
  margin-top: 50%;
}

.carousel-text {
  font-size: 2rem;
  color: white;
}

.carousel-img {
  padding: 2rem 3rem
}

.yellowBackground {
  /* background-color: #FCCA46; */
  background-color: #F3A712;
}

#contact-form {
  width: 90%;
  padding-left: 5%;
}


/* Resources */

.resourcesTitle {
  text-align: center;
  color: #1b1b3a;
}

.resourcesMain {
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
  justify-content: center;
  margin-top: 9em;
  padding: 0 0 0 0;
}

.resourcesCardDeck{
   /* border: 1px solid blue; */
   width: 100%;
   margin: 0 0 0 0!important;
}

.black-text a {
  color: black;
  font-size: 1.15rem;
  height: 3%;
}

.black-text:hover a {
  font-weight: 600;
}

.cardImg {
  width: 100%;
  height: 16vw;
  object-fit: cover;
  border-radius: 20px;
}

.resourcesCard {
  border: none;
  height: 30%;
}

.phoneNumber{
  font-size: 1.5rem;
  width: 30%;
  margin: auto auto;
  margin-bottom: 2rem;
  background-color: #1b1b3a;
  color: white;
}

.phoneNumber:hover {
  font-weight: 600;
  color: white
}



.hovereffect:hover {
  filter: brightness(0.7);
}

/* End of Resources */


