.title{
  position: relative;
  bottom: 180px;
  font-size: 40px;
  color: black;
}

.caption{
  position: relative;
  bottom: 120px;
  font-size: 30px;
  color: black;
}

.quote{
  position: relative;
  bottom: 120px;
  font-size: 40px;
  color: black;
}

.author{
  position: relative;
  bottom: 130px;
  left: 280px;
  font-size: 25px;
  color: black;
}

#thirdText{
  position: relative;
  font-size: 40px;
  bottom: 130px;
  color: black;
}

#thirdSubText{
  position: relative;
  font-size: 30px;
  bottom: 90px;
  color: black;
}

#fourthText{
  position: relative;
  font-size: 40px;
  bottom: 100px;
  color: black;
}

#fourthSubText{
  position: relative;
  bottom: 50px;
  font-size: 24px;
  color: black;
}

#fourthAuthor{
  position: relative;
  bottom: 45px;
  left: 250px;
  font-size: 18px;
  color: black;
}

#aboutCard{
  background-color: darkcyan;
}

#aboutText{
  font-size: 30px;
  color: white;
}

#filler{
  width: 30px;
}

#whyCard{
  border: none;
}


.whyTitle{
  font-size: 30px;
}

.whyText{
  font-size: 20px;
}